<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"-->
      <!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!--<script src="/js/jquery.min.js"></script>-->
</head>
<body>
    <form action="/getWord">
        <div>点击获取Offer</div>

        <button name="getExcel" id = "getExcel" type="submit">click</button>
    </form>

</body>
<script>
    // $("#getExcel").click(function () {
    //     $.ajax({
    //         type:"get",
    //         contentType:'application/json;charset=utf-8',
    //         url:"/getExcel"
    //
    //     })
    // });
</script>
</html>